*{
	box-sizing: border-box;
}

main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10vh;
	z-index: 1;
}

body{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	justify-content: center;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14);
	top:0;
	left:0;
	right:0;
	height: 20vh;
	background-color: white;
}

.brand{
	display: flex;
	justify-content: center;
	max-width: 100%;
}

.brandImg{
	display: flex;
	height: 100%;
}

.gameContainer{
	display: flex;
	flex-direction: column;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	border-radius: 10px;
	width:100%;
}

.fa-robot{
	font-size: 100px;
	color:#E60A13;
}

.botImg{
	display: flex;
	justify-content: center;
	margin: 10px;
	flex:1
}

.botInfo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	font-family: lores-12,sans-serif;
	font-size: 40px;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
	color: #484848;
	white-space: nowrap;
	flex:3
}

.fa-arrow-down{
	color: #E60A13;
	margin: 10px;
	animation: bounce2 2s ease infinite;
}

.fa-arrow-up{
	color: #E60A13;
	margin: 10px;
	animation: bounce2 2s ease infinite;
}

.botCard{
	align-items: center;
	justify-content: space-around;

}

.botDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	flex:2
}

.timerDiv{
	display: flex;
	justify-content: center;
	align-items: center;
	flex:1
}

.playerDiv{
	display: flex;
	justify-content: center;
	align-items: center;

	flex:2;
}

.playerCard{
	display: flex;
	margin: 20px;
	width: 100%;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	border-radius: 10px;
}

.profileInfo{
	display: flex;
	margin: 10px;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	flex: 1;
}

#username{
	font-family: lores-12,sans-serif;
	margin:10px;
}

.imgButton{
	display: flex;
	padding: 15px;
	object-fit: fill;
	border-radius: 100%;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	width: 125px;
	height: 125px;
}

.profileImg{
	max-height: 100%;
	width: auto;	
}

.userInput{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	flex: 1;
}

/* ---------------------------tar bort understreck från A herf-----------------------------------------	 */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
/* ---------------------------tar bort understreck från A herf-----------------------------------------	 */
#easyBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 175px;
	height: 50px;
	background-color: green;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 2.5rem;
}
#mediumBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 175px;
	height: 50px;
	background-color:gold;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 2.5rem;
}
#hardBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 175px;
	height: 50px;
	background-color: #E60A13;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 2.5rem;
}


#botTextBox, #botTextBoxTwo{
	font-family: lores-12,sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	margin: 5px;
}

#more {
	display: none;
}
.textDif{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
h2 
{
	padding: 0px;
	margin-top: 20px;
}

 input {
	text-align: center;
	background-color: transparent;
	width: 100%;
	border:none;
	text-decoration: none;
	font-family: lores-12,sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #484848;
	font-size: 3rem;
}
input:focus{
	outline: 0;
}
/* -------------------------------------------------regelsidan--------------------------------------------- */
.rulesDiv{
	text-align: center;
	font-family: avenir next;
	font-style: normal;
	font-size: 20px;
}
.fineInfo{
	font-size: 30px;
}
.ruleCard{
	/* width: 500vw;
	height: 550px; */
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	border-radius: 10px;
}
.ruleCard1{
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 100vh;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	border-radius: 10px;
}
.ruleInfo{
	font-family: avenir next;
	font-style: normal;
	display: flex;
	font-size: 1.3vh;

}
.ruleInfo2{
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.ruleInfo2, h1{
	font-family: avenir next;
	font-style: normal;
}

#more {
	display: none;
	font-size: 1em;
}
.textDif{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.textDif p{
	margin: 0;
	padding: 0;
	font-size: 3vh;
}
h2
{
	padding: 0px;
	margin-top: 20px;
}
#robot1{
	font-size: 6vw;
	color:sandybrown;
	flex: 1;
	}
	.fa-user-clock{
	font-size: 6vw;
	color:#3e4888;
	flex: 1;

	}
	.fa-cog{
	font-size: 6vw;
	color:#E60A13;
	flex: 1;
	}

	.ruleInfo2 h1{
	color: black;
	font-size: 2.2vh
	}
	.timeBot{
	display: flex;
	}
	.wasteBot{
	display: flex;
	}
#registerBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 280px;
	height: 50px;
	background-color: #E60A13;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 2.3rem;
	border:1px solid #d83526;
	cursor: pointer;
}
.pSize{
	font-size: 1.5rem;
}
.difBtns{
	display: flex;
	justify-content: space-around;
	}
/* -------------------------------------------------regelsidan--------------------------------------------- */
.defaultBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 5px;
	width: 50%;
	height: 50px;
	background-color: #E60A13;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 2rem;
}

.defaultBtn:hover{
	background-color: #e60a0acd;
}

/* .botCard{
} */

.startButton {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:70px;
	font-weight:bold;
	padding:30px 60px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    margin: 30px;
}
.startButton:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.startButton:active {
	position:relative;
	top:1px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* TIMER */
 #timeBar {
    margin: 1rem;
    overflow: hidden;
    width: 50%;
	text-align: center;
}
#timeBarChild {
    height: 20px;
    border-radius:6px;
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, red, #900);
 }
.bounce2 {
	animation: bounce2 2s ease infinite;
}
#popup{
    display: flex;
	position: relative;
    left: 0;
    right: 0;
	border-radius: 5px;
    flex-direction: column;
	align-items: center;
	justify-content: space-between;
    background-color:#FFFF;
    z-index: 99;
    margin: 15% auto;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
    max-width: 70%;
    padding: 0.5rem;
}
#popupBackground{
    display: none;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter:blur(3px);
    background-color:rgba(0, 0, 0, 0.19);
}
.fa-times-circle{
	padding-right: 10px;
	position: absolute;
	text-align: end;
	font-size: 2em;
	width: 100%;
}
.fa-times-circle:hover{
	cursor:pointer;
	color:#48484885
}

.headlinePopup{
	display: flex;
	align-items: center;
	font-family: lores-12,sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #484848;
}
#popupIcon{
	display: flex;
	justify-content: center;
	margin: 10px;
	font-size: 5rem;
	color: #FFDF00;
}

.btnDiv{
	display: flex;
	justify-content: space-around;
	margin: 5px;
	width: 100%;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
@keyframes roundtime {
	to {
    /*  More performant than `width`  */
    transform: scaleX(0);
	}
}
#signout{
	display:flex;
	/* align-self: flex-end; */
	justify-content: center;
	align-items: center;
	/* align-content: center; */
	width: 100px;
	height: 25px;
	background-color: #E60A13;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 20px;
	border:1px solid #d83526;
	cursor: pointer;
}
.nav{
	/* margin-top: 70px; */
	display: flex;
	position: absolute;
	justify-content: flex-end;
	align-items: center;
	top: 15vh;
	right: 1vw;
}

	/* ---------------------------------------mobile first regelsidan------------------------------------- */
@media screen and (max-width: 800px) {

.imgButton{
	width: 80px;
	height: 80px;
}
	
#containerBot{
	flex-wrap: wrap;
}
	
main{
	margin-top: 2vh
}

#easyBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 90px;
	height: 50px;
	background-color: green;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 1.3rem;
}

#mediumBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 90px;
	height: 50px;
	background-color:gold;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 1.3rem;
}

#hardBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 90px;
	height: 50px;
	background-color: #E60A13;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 1.3rem;
}

.rulesDiv{
	text-align: center;
	font-size: 20px;
}

.fineInfo{
	font-size: 30px;
}

.ruleCard{
	/* width: 500vw;
	height: 550px; */
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	border-radius: 10px;
}

.ruleCard1{
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: auto;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	border-radius: 10px;
}

.ruleInfo{
	display: flex;
	font-size: 1.3vh;
}

.botCard{
	align-items: center;
	justify-content: space-around;
	font-size: 20px
}

.playerCard{
	display: flex;
	height: auto;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	border-radius: 10px;
	flex: 1;
}

.nav{
	/* display: flex;
	position: absolute;
	justify-content: flex-end;
	align-items: center; */
	top: 21vh;
}

.ruleInfo2{
	flex-direction: row;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

#robot1{
	font-size: 6vw;
	color:sandybrown;
	flex: 1;
	}

.fa-user-clock{
	font-size: 6vw;
	color:blue;
	flex: 1;
	}

.fa-cog{
	font-size: 6vw;
	color:#E60A13;
	}

.cogWheel{
	display: flex;	
	}

.ruleInfo2 h1{
	color: black;
	font-size: 2.2vh
	}

.timeBot{
	display: flex;
	}

.wasteBot{
	display: flex;
	}

.ruleInfo h1{
	font-size: 1.3rem;
	}

#registerBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 280px;
	height: 50px;
	background-color: #E60A13;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 2.5rem;
}
	
h3{
	font-size: 1.5rem;
	}
	
.botInfo{
	font-size: 5vw;
	}
	
#popup{
	max-width: 100%;
	}
	
.defaultBtn{
	font-size: 1em;
	}
	
.fa-robot{
	font-size: 16vw;
	color:#E60A13;
	}
	
.pSize{
	font-size: 2.5vh;
	}

.defaultBtn{
	display:flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 5px;
	width: 50%;
	height: 50px;
	background-color: #E60A13;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.503);
	color: #FFFF;
	border-radius: 10px;
	font-family: avenir next;
	font-style: normal;
	font-weight: bolder;
	font-size: 2rem;
	}
}
#rulesBtn{
	border: none;
	color: #E60A13;
	background-color: white;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.503);
	cursor: pointer;
	border-radius: 10px;
	font-family: avenir next;
	font-weight: 700;
	padding: 5px;
}
/* ---------------------------------------mobile first regelsidan------------------------------------- */